<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
<div class="container">
  <h2>Checkboxes</h2>
  <form role="form">
    <div class="row">
      <div class="col-md-4" *ngFor="let product of productList">
        <fieldset>
          <div class="checkbox checkbox-primary" (click)="check(product.id)">
            <input id="product.id" type="checkbox" value="{{product.id}}" [checked]="product.checked">
            <label>
              {{product.description}}
            </label>
          </div>
        </fieldset>
      </div>
      <button type="button" class="btn btn-primary" (click)="confirm()">Comprar</button>
    </div>
  </form>
</div>
